/*
	ROBIN CSS Framework v0.1.0
*/

@import '_theme';

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

.container {
	width: 96%;
	max-width: 48rem;
	margin: 0 auto;
}

.button-bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.button-bar.align-start {
	justify-content: flex-start;
}

.button-bar > * + * {
	margin-left: 1em;
}

.panel {
	margin: 2rem 0;
}

label {
	display: flex;
	align-items: center;
}

input, textarea, .select, .select .options {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	min-height: 10rem;
}

.select {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: stretch;
	padding: 0;
}

.select .value {
	flex: 1;
	padding: .25em;
}

.select .dropper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
}

.select .options {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 1000;
	display: none;
	padding: 0;
}

.select .option {
	padding: .25rem;
}

.row {
	display: flex;
	align-items: flex-start;
}

.row.gutter {
	margin: 1rem 0;
}

.col-impl {
	box-sizing: border-box;
}

.row.gutter .col-impl {
	margin-left: 1em;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: calc(100% / 12 * #{$i});
		box-sizing: border-box;
	}
	
	.row.gutter .col-#{$i} {
		margin-left:1em;
		margin-right:1em;
	}
}

.row.gutter > :first-child {
	margin-left: 0;
}

.row.gutter > :last-child {
	margin-right: 0;
}
