/*
	ROBIN CSS Framework v0.1.0
*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,600,600italic);
body {
  background: radial-gradient(ellipse at 25% 25%, #ddd, #ccc);
  background-attachment: fixed; }

body, input, textarea, select, button {
  font: 300 100% Lato, sans-serif;
  line-height: 1.4;
  color: #3c3c3d; }

h1 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1; }

h2, h3, h4, h5, h6, strong, b {
  font-weight: 600; }

.page-header {
  padding: 2rem 0;
  border-bottom: 1px solid #bebec2;
  margin-bottom: 2rem; }

.page-header h1 {
  margin: 0; }

.button-impl, .button, .flat-button {
  display: inline-block;
  border: 0;
  padding: .5rem 0;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .03125em; }

.button {
  padding: .5rem 1.5rem;
  background-color: #b05;
  color: #fff; }

.button:hover {
  background-color: #3c3c3d;
  color: #fff; }

.button:focus {
  background-color: #550027;
  outline: none; }

.flat-button {
  color: #b05;
  background-color: transparent; }

.flat-button:hover {
  color: #3c3c3d; }

.flat-button:focus {
  outline: none;
  position: relative; }

.flat-button:focus::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #b05; }

.panel > header {
  background-color: #868687;
  color: #fff;
  padding: .5rem 2rem; }

.panel-body {
  padding: 1rem 2rem;
  background-color: #f0f0f5;
  color: #3c3c3d; }

label {
  padding-top: calc(.25rem + 1px); }

input, textarea, .select, .select .options {
  border: 1px solid #bebec2;
  background-color: #fff;
  color: #3c3c3d;
  padding: .25rem; }

input:focus, textarea:focus, .select:focus {
  outline: none;
  border-color: #b05;
  background-image: linear-gradient(to right, rgba(187, 0, 85, 0.1), rgba(187, 0, 85, 0.1)); }

.select .dropper {
  background-color: rgba(0, 0, 0, 0.075); }

.select:hover .dropper {
  color: #b05; }

.select .option {
  position: relative; }

.select .option.selected::after {
  content: '\2713';
  position: absolute;
  right: .25em;
  top: .25em;
  z-index: 1; }

.select .option:hover, .select .option.kbd-selection {
  background-color: #b05;
  color: #fff; }

.checkbox {
  display: inline-block;
  position: relative;
  width: .75rem;
  height: .75rem;
  border: 1px solid #bebec2;
  background-color: #fff;
  color: #3c3c3d;
  margin-right: .25rem; }

.checkbox::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  z-index: 1; }

.checkbox[data-checked="true"]::before {
  background-color: #b05; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  position: relative; }

.container {
  width: 96%;
  max-width: 48rem;
  margin: 0 auto; }

.button-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.button-bar.align-start {
  justify-content: flex-start; }

.button-bar > * + * {
  margin-left: 1em; }

.panel {
  margin: 2rem 0; }

label {
  display: flex;
  align-items: center; }

input, textarea, .select, .select .options {
  margin: 0;
  width: 100%;
  box-sizing: border-box; }

textarea {
  min-height: 10rem; }

.select {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  padding: 0; }

.select .value {
  flex: 1;
  padding: .25em; }

.select .dropper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem; }

.select .options {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1000;
  display: none;
  padding: 0; }

.select .option {
  padding: .25rem; }

.row {
  display: flex;
  align-items: flex-start; }

.row.gutter {
  margin: 1rem 0; }

.col-impl {
  box-sizing: border-box; }

.row.gutter .col-impl {
  margin-left: 1em; }

.col-1 {
  width: calc(100% / 12 * 1);
  box-sizing: border-box; }

.row.gutter .col-1 {
  margin-left: 1em;
  margin-right: 1em; }

.col-2 {
  width: calc(100% / 12 * 2);
  box-sizing: border-box; }

.row.gutter .col-2 {
  margin-left: 1em;
  margin-right: 1em; }

.col-3 {
  width: calc(100% / 12 * 3);
  box-sizing: border-box; }

.row.gutter .col-3 {
  margin-left: 1em;
  margin-right: 1em; }

.col-4 {
  width: calc(100% / 12 * 4);
  box-sizing: border-box; }

.row.gutter .col-4 {
  margin-left: 1em;
  margin-right: 1em; }

.col-5 {
  width: calc(100% / 12 * 5);
  box-sizing: border-box; }

.row.gutter .col-5 {
  margin-left: 1em;
  margin-right: 1em; }

.col-6 {
  width: calc(100% / 12 * 6);
  box-sizing: border-box; }

.row.gutter .col-6 {
  margin-left: 1em;
  margin-right: 1em; }

.col-7 {
  width: calc(100% / 12 * 7);
  box-sizing: border-box; }

.row.gutter .col-7 {
  margin-left: 1em;
  margin-right: 1em; }

.col-8 {
  width: calc(100% / 12 * 8);
  box-sizing: border-box; }

.row.gutter .col-8 {
  margin-left: 1em;
  margin-right: 1em; }

.col-9 {
  width: calc(100% / 12 * 9);
  box-sizing: border-box; }

.row.gutter .col-9 {
  margin-left: 1em;
  margin-right: 1em; }

.col-10 {
  width: calc(100% / 12 * 10);
  box-sizing: border-box; }

.row.gutter .col-10 {
  margin-left: 1em;
  margin-right: 1em; }

.col-11 {
  width: calc(100% / 12 * 11);
  box-sizing: border-box; }

.row.gutter .col-11 {
  margin-left: 1em;
  margin-right: 1em; }

.col-12 {
  width: calc(100% / 12 * 12);
  box-sizing: border-box; }

.row.gutter .col-12 {
  margin-left: 1em;
  margin-right: 1em; }

.row.gutter > :first-child {
  margin-left: 0; }

.row.gutter > :last-child {
  margin-right: 0; }

/*# sourceMappingURL=undefined.map */
{
	"version": 3,
	"file": "robin.css",
	"sources": [
		"robin.scss",
		"_theme.scss"
	],
	"mappings": "AAAA;;EAEE;ACFF,OAAO,CAAC,6EAAI;AAiBZ,AAAA,IAAI,CAAC;EACJ,UAAU,EAAC,+CAAe;EAC1B,qBAAqB,EAAC,KAAM,GAC5B;;AAED,AAAA,IAAI,EAAE,AAAA,KAAK,EAAE,AAAA,QAAQ,EAAE,AAAA,MAAM,EAAE,AAAA,MAAM,CAAC;EACrC,IAAI,EAAE,yBAA0B;EAChC,WAAW,EAAE,GAAI;EACjB,KAAK,EAvBO,OAAO,GAwBnB;;AAED,AAAA,EAAE,CAAC;EACF,WAAW,EAAE,GAAI;EACjB,SAAS,EAAE,IAAK;EAChB,WAAW,EAAE,CAAE,GACf;;AAED,AAAA,EAAE,EAAE,AAAA,EAAE,EAAE,AAAA,EAAE,EAAE,AAAA,EAAE,EAAE,AAAA,EAAE,EAAE,AAAA,MAAM,EAAE,AAAA,CAAC,CAAC;EAC7B,WAAW,EAAE,GAAI,GACjB;;AAED,AAAA,YAAY,CAAC;EACZ,OAAO,EAAE,MAAO;EAChB,aAAa,EAAE,GAAG,CAAC,KAAK,CApCV,OAAO;EAqCrB,aAAa,EAAE,IAAK,GACpB;;AAED,AAAa,YAAD,CAAC,EAAE,CAAC;EACf,MAAM,EAAE,CAAE,GACV;;AAED,AAAA,YAAY,EAUZ,AAVA,OAUO,EAiBP,AA3BA,YA2BY,CA3BC;EACZ,OAAO,EAAE,YAAa;EACtB,MAAM,EAAE,CAAE;EACV,OAAO,EAAE,OAAQ;EACjB,MAAM,EAAE,CAAE;EACV,MAAM,EAAE,OAAQ;EAChB,cAAc,EAAE,SAAU;EAC1B,cAAc,EAAE,QAAS,GACzB;;AAED,AAAA,OAAO,CAAC;EAEP,OAAO,EAAE,YAAa;EACtB,gBAAgB,EA1DF,IAAI;EA2DlB,KAAK,EAxDS,IAAI,GAyDlB;;AAED,AAAO,OAAA,AAAA,MAAM,CAAC;EACb,gBAAgB,EA3DO,OAAO;EA4D9B,KAAK,EA3De,IAAI,GA4DxB;;AAED,AAAO,OAAA,AAAA,MAAM,CAAC;EACb,gBAAgB,EAAE,OAAM;EACxB,OAAO,EAAE,IAAK,GACd;;AAED,AAAA,YAAY,CAAC;EAEZ,KAAK,EA1ES,IAAI;EA2ElB,gBAAgB,EAAE,WAAY,GAC9B;;AAED,AAAY,YAAA,AAAA,MAAM,CAAC;EAClB,KAAK,EAhFO,OAAO,GAiFnB;;AAED,AAAY,YAAA,AAAA,MAAM,CAAC;EAClB,OAAO,EAAE,IAAK;EACd,QAAQ,EAAE,QAAS,GACnB;;AAED,AAAkB,YAAN,AAAA,MAAM,AAAA,QAAQ,CAAC;EAC1B,OAAO,EAAE,EAAG;EACZ,QAAQ,EAAE,QAAS;EACnB,IAAI,EAAE,CAAE;EACR,KAAK,EAAE,CAAE;EACT,MAAM,EAAE,CAAE;EACV,MAAM,EAAE,GAAI;EACZ,gBAAgB,EA9FF,IAAI,GA+FlB;;AAED,AAAS,MAAH,GAAG,MAAM,CAAC;EACf,gBAAgB,EA3FO,OAAO;EA4F9B,KAAK,EA7Fe,IAAI;EA8FxB,OAAO,EAAE,UAAW,GACpB;;AAED,AAAA,WAAW,CAAC;EACX,OAAO,EAAE,SAAU;EACnB,gBAAgB,EAhGA,OAAO;EAiGvB,KAAK,EA3GO,OAAO,GA4GnB;;AAED,AAAA,KAAK,CAAC;EACL,WAAW,EAAE,kBAAI,GACjB;;AAED,AAAA,KAAK,EAAE,AAAA,QAAQ,EAAE,AAAA,OAAO,EAAE,AAAQ,OAAD,CAAC,QAAQ,CAAC;EAC1C,MAAM,EAAE,GAAG,CAAC,KAAK,CAjHH,OAAO;EAkHrB,gBAAgB,EAzGA,IAAI;EA0GpB,KAAK,EArHO,OAAO;EAsHnB,OAAO,EAAE,MAAO,GAChB;;AAED,AAAK,KAAA,AAAA,MAAM,EAAE,AAAQ,QAAA,AAAA,MAAM,EAAE,AAAO,OAAA,AAAA,MAAM,CAAC;EAC1C,OAAO,EAAE,IAAK;EACd,YAAY,EA1HE,IAAI;EA2HlB,gBAAgB,EAAE,uEAAe,GACjC;;AAED,AAAQ,OAAD,CAAC,QAAQ,CAAC;EAChB,gBAAgB,EAAO,oBAAI,GAC3B;;AAED,AAAc,OAAP,AAAA,MAAM,CAAC,QAAQ,CAAC;EACtB,KAAK,EAnIS,IAAI,GAoIlB;;AAED,AAAQ,OAAD,CAAC,OAAO,CAAC;EACf,QAAQ,EAAE,QAAS,GACnB;;AAED,AAAwB,OAAjB,CAAC,OAAO,AAAA,SAAS,AAAA,OAAO,CAAC;EAC/B,OAAO,EAAE,OAAQ;EACjB,QAAQ,EAAE,QAAS;EACnB,KAAK,EAAE,KAAM;EACb,GAAG,EAAE,KAAM;EACX,OAAO,EAAE,CAAE,GACX;;AAED,AAAe,OAAR,CAAC,OAAO,AAAA,MAAM,EAAE,AAAe,OAAR,CAAC,OAAO,AAAA,cAAc,CAAC;EACpD,gBAAgB,EAnJF,IAAI;EAoJlB,KAAK,EAjJS,IAAI,GAkJlB;;AAED,AAAA,SAAS,CAAC;EACT,OAAO,EAAE,YAAa;EACtB,QAAQ,EAAE,QAAS;EACnB,KAAK,EAAE,MAAO;EACd,MAAM,EAAE,MAAO;EACf,MAAM,EAAE,GAAG,CAAC,KAAK,CA3JH,OAAO;EA4JrB,gBAAgB,EAnJA,IAAI;EAoJpB,KAAK,EA/JO,OAAO;EAgKnB,YAAY,EAAE,MAAO,GACrB;;AAED,AAAS,SAAA,AAAA,QAAQ,CAAC;EACjB,OAAO,EAAE,EAAG;EACZ,QAAQ,EAAE,QAAS;EACnB,IAAI,EAAE,GAAI;EACV,GAAG,EAAE,GAAI;EACT,KAAK,EAAE,GAAI;EACX,MAAM,EAAE,GAAI;EACZ,OAAO,EAAE,CAAE,GACX;;AAED,AAA8B,SAArB,CAAA,AAAA,YAAC,CAAa,MAAM,AAAnB,CAAoB,QAAQ,CAAC;EACtC,gBAAgB,EA7KF,IAAI,GA8KlB;;AD3KD,AAAA,IAAI,EAAE,AAAA,IAAI,CAAC;EACV,MAAM,EAAE,CAAE;EACV,OAAO,EAAE,CAAE;EACX,KAAK,EAAE,IAAK;EACZ,UAAU,EAAE,UAAW,GACvB;;AAED,AAAA,IAAI,CAAC;EACJ,MAAM,EAAE,IAAK,GACb;;AAED,AAAA,IAAI,CAAC;EACJ,UAAU,EAAE,IAAK;EACjB,QAAQ,EAAE,QAAS,GACnB;;AAED,AAAA,UAAU,CAAC;EACV,KAAK,EAAE,GAAI;EACX,SAAS,EAAE,KAAM;EACjB,MAAM,EAAE,MAAO,GACf;;AAED,AAAA,WAAW,CAAC;EACX,OAAO,EAAE,IAAK;EACd,WAAW,EAAE,MAAO;EACpB,eAAe,EAAE,QAAS,GAC1B;;AAED,AAAW,WAAA,AAAA,YAAY,CAAC;EACvB,eAAe,EAAE,UAAW,GAC5B;;AAED,AAAkB,WAAP,GAAG,CAAC,GAAG,CAAC,CAAC;EACnB,WAAW,EAAE,GAAI,GACjB;;AAED,AAAA,MAAM,CAAC;EACN,MAAM,EAAE,MAAO,GACf;;AAED,AAAA,KAAK,CAAC;EACL,OAAO,EAAE,IAAK;EACd,WAAW,EAAE,MAAO,GACpB;;AAED,AAAA,KAAK,EAAE,AAAA,QAAQ,EAAE,AAAA,OAAO,EAAE,AAAQ,OAAD,CAAC,QAAQ,CAAC;EAC1C,MAAM,EAAE,CAAE;EACV,KAAK,EAAE,IAAK;EACZ,UAAU,EAAE,UAAW,GACvB;;AAED,AAAA,QAAQ,CAAC;EACR,UAAU,EAAE,KAAM,GAClB;;AAED,AAAA,OAAO,CAAC;EACP,QAAQ,EAAE,QAAS;EACnB,MAAM,EAAE,OAAQ;EAChB,OAAO,EAAE,IAAK;EACd,WAAW,EAAE,OAAQ;EACrB,OAAO,EAAE,CAAE,GACX;;AAED,AAAQ,OAAD,CAAC,MAAM,CAAC;EACd,IAAI,EAAE,CAAE;EACR,OAAO,EAAE,KAAM,GACf;;AAED,AAAQ,OAAD,CAAC,QAAQ,CAAC;EAChB,OAAO,EAAE,IAAK;EACd,WAAW,EAAE,MAAO;EACpB,eAAe,EAAE,MAAO;EACxB,KAAK,EAAE,MAAO,GACd;;AAED,AAAQ,OAAD,CAAC,QAAQ,CAAC;EAChB,QAAQ,EAAE,QAAS;EACnB,IAAI,EAAE,CAAE;EACR,KAAK,EAAE,CAAE;EACT,GAAG,EAAE,IAAK;EACV,OAAO,EAAE,IAAK;EACd,OAAO,EAAE,IAAK;EACd,OAAO,EAAE,CAAE,GACX;;AAED,AAAQ,OAAD,CAAC,OAAO,CAAC;EACf,OAAO,EAAE,MAAO,GAChB;;AAED,AAAA,IAAI,CAAC;EACJ,OAAO,EAAE,IAAK;EACd,WAAW,EAAE,UAAW,GACxB;;AAED,AAAI,IAAA,AAAA,OAAO,CAAC;EACX,MAAM,EAAE,MAAO,GACf;;AAED,AAAA,SAAS,CAAC;EACT,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,SAAS,CAAC;EACrB,WAAW,EAAE,GAAI,GACjB;;AAGA,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,MAAM,CAAN;EACC,KAAK,EAAE,mBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,MAAM,CAAlB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,OAAO,CAAP;EACC,KAAK,EAAE,oBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,OAAO,CAAnB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,OAAO,CAAP;EACC,KAAK,EAAE,oBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,OAAO,CAAnB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AARD,AAAA,OAAO,CAAP;EACC,KAAK,EAAE,oBAAI;EACX,UAAU,EAAE,UAAW,GACvB;;AAED,AAAY,IAAR,AAAA,OAAO,CAAC,OAAO,CAAnB;EACC,WAAW,EAAC,GAAI;EAChB,YAAY,EAAC,GAAI,GACjB;;AAGF,AAAc,IAAV,AAAA,OAAO,GAAG,YAAY,CAAC;EAC1B,WAAW,EAAE,CAAE,GACf;;AAED,AAAc,IAAV,AAAA,OAAO,GAAG,WAAW,CAAC;EACzB,YAAY,EAAE,CAAE,GAChB",
	"names": []
}
